<h3>列表页</h3>

<table cellspacing="30">

  <tr>
   <td>序号</td>
   <td>题目</td>
   <td>作者</td>
   <td colspan="2" align="center">操作</td>
  </tr>

  <% @books.each do |book| %>
 <tr>
     <td><%= book.id %></td>
     <td><%= link_to book.name,book  %></td>
     <td><%= book.author %></td>
     <!--此处为什么有个关键字id才可以-->
     <td><%= link_to "编辑" ,edit_book_path( :id => book.id )%></td>
     <td><%= link_to "删除" ,book, :method => :delete %></td>
 </tr>
   <% end %>

</table>
 <%= link_to "新增", new_book_path %>
