
  <p>姓名:</strong>
  <%= @student.name %>
  </p>

  <p>
    <strong>性别:</strong>
      <%= @student.sex %>
  </p>

  <p>
    <strong>爱好:</strong>
      <%= @student.hobby %>
  </p>

  <p>
    <strong>星座:</strong>
      <%= @student.constellation %>
  </p>

  <p>
    <strong>自我介绍:</strong>
      <%= @student.evaluation %>
  </p>


  <%= link_to "返回列表页", students_path %>
